In [1]:
import pandas as pd

df = pd.read_csv("data/marketing_funnel.csv")
df.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

In [2]:
df.isnull().sum()     # check missing values
df = df.dropna()      # remove missing rows

In [4]:
df.columns = df.columns.str.strip()
df.columns = df.columns.str.title()

In [5]:
print(df.columns)

Index(['Mql_Id', 'Seller_Id', 'Sdr_Id', 'Sr_Id', 'Won_Date',
       'Business_Segment', 'Lead_Type', 'Lead_Behaviour_Profile',
       'Has_Company', 'Has_Gtin', 'Average_Stock', 'Business_Type',
       'Declared_Product_Catalog_Size', 'Declared_Monthly_Revenue'],
      dtype='object')

In [7]:
import pandas as pd

total_leads = df.shape[0]

qualified_leads = df['Lead_Type'].notna().sum()

opportunities = df['Seller_Id'].notna().sum()

customers = df['Won_Date'].notna().sum()

funnel_df = pd.DataFrame({
    'Stage': ['Leads', 'Qualified Leads', 'Opportunities', 'Customers'],
    'Count': [total_leads, qualified_leads, opportunities, customers]
})

funnel_df

             Stage  Count
0            Leads     38
1  Qualified Leads     38
2    Opportunities     38
3        Customers     38

In [8]:
funnel_df['Conversion_Rate'] = funnel_df['Count'] / funnel_df['Count'].iloc[0]
funnel_df

             Stage  Count  Conversion_Rate
0            Leads     38              1.0
1  Qualified Leads     38              1.0
2    Opportunities     38              1.0
3        Customers     38              1.0

In [9]:
funnel_df['Drop_Off_Rate'] = 1 - funnel_df['Count'] / funnel_df['Count'].shift(1)
funnel_df

             Stage  Count  Conversion_Rate  Drop_Off_Rate
0            Leads     38              1.0            NaN
1  Qualified Leads     38              1.0            0.0
2    Opportunities     38              1.0            0.0
3        Customers     38              1.0            0.0

In [10]:
segment_conv = (
    df.groupby('Business_Segment')['Won_Date']
    .apply(lambda x: x.notna().mean())
    .sort_values(ascending=False)
)

segment_conv

Business_Segment
audio_video_electronics            1.0
bed_bath_table                     1.0
car_accessories                    1.0
computers                          1.0
construction_tools_house_garden    1.0
fashion_accessories                1.0
food_drink                         1.0
food_supplement                    1.0
health_beauty                      1.0
home_decor                         1.0
household_utilities                1.0
other                              1.0
party                              1.0
perfume                            1.0
phone_mobile                       1.0
toys                               1.0
watches                            1.0
Name: Won_Date, dtype: float64